footer {
    & .nav-item {
        margin: 0 5px;
    }

    & .container {
        margin-bottom: 1.25rem;
        max-width: 600px;
    }

    & .seo {
        color: lightslategrey;

        & a {
            color: inherit;
        }
    }
}