footer {
    margin-top: 2rem !important;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    font-size: 0.95rem;
    z-index: 2;

    & a {
        color: inherit;
    }

    & .nav-item {
        margin: 0 8px;
    }

    & .container {
        margin-bottom: 1.25rem;
        max-width: 800px;
    }

    & .seo {
        color: $secondary;

        & a {
            color: inherit;
        }
    }
}