footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    font-size: 0.85rem;
    z-index: 2;

    & a {
        color: inherit;
    }

    & .ccpa {
        display: inline-block;
        background-image: url('../img/ccpa.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 29px;
        height: 14px;
        position: relative;
        top: 3px;
    }

    & .nav-item {
        margin: 0 5px;
    }

    & .container {
        margin-bottom: 1.25rem;
        max-width: 600px;
    }

    & .seo {
        color: lightslategrey;

        & a {
            color: inherit;
        }
    }
}