.feature {
    & h2 {
        margin-bottom: 3rem;
    }
    
    & p {
        font-size: 1.15rem;
        margin-bottom: 2rem;
    }
}

.container.divider {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.item-list {
    margin-top:3rem !important;

    & a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & .item {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    & .up, & .down {
        display: block;
        width: 90px;

        // This handles should the data wrap, we wrap the text all the way
        // around the icons.
        float: left;
        height: 100%;

        & i {
            display: inline-block;
            width: 20px;
        }
    }

    & .up {
        color: $danger;
    }

    & .down {
        color: $secondary;
    }
}

.home.product .overall {
    margin-top: 15vh;
}