.product {
    color: $dark;

    & .container {
        max-width: 1000px;
    }

   

    & .share {
        margin: 0 auto 20vh auto;

        & h3 {
            color: $secondary;
            font-size: 1.15rem;
            margin-bottom: 1.15rem;
        }

        & i {
            font-size: 1.25rem;
        }

        & a {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            margin: 0 3px;

            &:hover {
                color: lighten($color: $secondary, $amount: 0.25)
            }
        }
    }

    & .nav {
        justify-content: center;

        & .nav-link {
            color: $secondary;
        }
    }

    .section {
        margin-top: 8vh;
    }

    & ul {
        list-style: outside none;
        column-count: 2;
    }
}

#prices {
    width: 100%;
}
